<div class="button small small-3 columns" id="show-search-btn">Search</div>
<div class="small-12 medium-3 columns index-search-wrapper">
  <div class="button small" id="hide-search-btn">Hide</div>
  <h3>Search:</h3>
  <%= form_tag(search_path, method: "get") do %>
    <%= text_field_tag(:search) %>
    <%= submit_tag("Search", class: "button small") %>
  <% end %>
  <h3>Sort By:</h3>
  <%= link_to "Title", sort_path(:title), class: "button small radius" %>
  <%= link_to "Newest", sort_path(:newest), class: "button small radius" %>
  <%= link_to "Recently Modified", sort_path(:recently_modified), class: "button small radius" %>
</div>
<div class="small-12 medium-9 columns">
<% if @search %>
  <div>
    <h1>Search Results</h1>
  </div>
<% end %>
<% if @projects.length == 0 %>
  <div>
    <h1>No Projects Found</h1>
  </div>
<% else %>
  <%# binding.pry %>
  <% @projects.each do |project| %>
    <%= link_to project do %>
      <div class="project-wrapper">
        <h2 class="project-index-title"><%= project.title.titleize %></h2>
        <h3>Location: <%= project.location %></h3>
        <h3>Date: <%= DateCreator.stringify(project.date) %></h3>
      </div>
    <% end %>
  <% end %>
  <%= paginate @projects %>
<% end %>
</div>
