<div class="row">
  <div class="small-12 column" id="new-project-wrapper">
    <h1>Add a Project</h1>
    <%= form_for Project.new do |f| %>
      <table id="new-project-table">
        <tr>
          <td><%= f.label :title %></td>
          <td><%= f.text_field :title %></td>
        </tr>
        <tr>
          <td><%= f.label :date %></td>
          <td><%= f.date_select :date %></td>
        </tr>
        <tr>
          <td><%= f.label :location %></td>
          <td><%= f.text_field :location %></td>
        </tr>
        <tr>
          <td><%= f.label :coordinates %></td>
          <td><%= f.text_field :coordinates %></td>
        </tr>
        <tr>
          <td><a href="#" class="button radius" onclick="getLocation('#project_coordinates')">Get My Coordinates</a></td>
          <td><div class="button radius" id="show-coords-map-btn">Select Coordinates From Map</div></td>
        <tr>
          <td><%= f.label :description %></td>
          <td><%= f.text_area :description %></td>
        </tr>
        <tr><td colspan="2"><%= f.submit "Add Project", class: 'button radius', id: "submit-proj-btn" %></td></tr>
      </table>
    <% end %>
  </div>
  <div class="column" id="choose-coords-map-wrapper">
    <div class="button small" id="cancel-coord-btn">Cancel</div>
    <h2>Click on the Map to Set Coordinates</h2>
    <div id="choose-coords-map"></div>
  </div>
</div>
