<div class="row">
  <div class="column" id="new-project-wrapper">
    <%= link_to "< Back", project_path(@project), class: 'button radius' %>
    <%= link_to("Delete Project", project_path, confirm: 'Are you sure?',
    :method => :delete, :class => 'action button radius') %>
    <h1>Edit Your Project</h1>
    <%= form_for @project do |f| %>
      <table>
        <tr>
          <td><%= f.label :title %></td>
          <td><%= f.text_field :title %></td>
        </tr>
        <tr>
          <td><%= f.label :date %></td>
          <td><%= f.date_select :date %></td>
        </tr>
        <tr>
          <td><%= f.label :location %></td>
          <td><%= f.text_field :location %></td>
        </tr>
        <tr>
          <td><%= f.label :coordinates %></td>
          <td><%= f.text_field :coordinates %></td>
        </tr>
        <tr>
          <td><a href="#" class="button radius" onclick="getLocation('#project_coordinates')">Get My Coordinates</a></td>
          <td><div class="button radius" id="show-coords-map-btn">Select Coordinates From Map</div></td>
        <tr>
        <tr>
          <td><%= f.label :description %></td>
          <td><%= f.text_area :description %></td>
        </tr>
        <tr><td><%= f.submit "Submit Edits", class: 'button radius' %></td></tr>
      </table>
    <% end %>
  </div>
  <div class="column" id="choose-coords-map-wrapper">
    <div class="button radius" id="cancel-coord-btn">Cancel</div>
    <h2>Click on the Map to Set Coordinates</h2>
    <div id="choose-coords-map"></div>
  </div>
</div>
