<a href="/"><h3>< back</h3></a>
<h1>Create a New Project</h1>
<%= form_for Project.new do |f| %>
  <table>
    <tr>
      <td><%= f.label :title %></td>
      <td><%= f.text_field :title %></td>
    </tr>
    <tr>
      <td><%= f.label :date %></td>
      <td><%= f.date_select :date %></td>
    </tr>
    <tr>
      <td><%= f.label :location %></td>
      <td><%= f.text_field :location %></td>
    </tr>
    <tr>
      <td><%= f.label :coordinates %></td>
      <td><%= f.text_field :coordinates %></td>
      <td><a href="#" class="button radius" onclick="getLocation('#project_coordinates')">Get Coordinates</a></td>
    </tr>
    <tr>
      <td><%= f.label :description %></td>
      <td><%= f.text_area :description,  :class => 'small-12.columns'%></td>
    </tr>
    <tr><td><%= f.submit "Add Project" %></td></tr>
  </table>
<% end %>
